.main {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  width: 1000px;
  margin: 0 auto;
  border-radius: 32px;
}
